body {
  margin: 0;
  padding: 0; }

.home-container {
  display: flex;
  height: 100vh;
  flex-direction: row; }

.home-column {
  height: 100vh; }

.cpu-column {
  flex: 2;
  display: flex;
  max-width: 70%;
  flex-direction: column; }

.cores-row {
  flex: 1; }

.scrollable-x {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }

.processes-row {
  background-color: palevioletred; }

.settings-column {
  flex: 1;
  display: flex;
  padding: 25px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0; }

.process {
  margin: 15px;
  padding: 50px;
  font-size: 22px;
  text-align: center;
  display: inline-block;
  border: 1px solid black; }
